.planMain
    display flex
    max-width 1100px 
    margin 0 auto 
    padding 75px 0 65px
    
    .tokarevo
        display block
        position absolute
        left 100%
        top 100px 
        margin-left -44px 
    
    &__column
        position relative
        flex 1 1 auto
        width 100%
        padding 0 50px 
        
        .planFlag
            position absolute
        
    &__item2
        display block
        position relative
        margin 68px auto 0
        max-width 366px 
        font-size 0
        line-height 0 
        
        .planFlag
            top 47px 
            left 182px 
        
    &__item1
        display block
        position relative
        margin 0 auto 60px
        max-width 262px 
        font-size 0
        line-height 0 
        
        .planFlag
            top 143px 
            left 127px 