{% extends 'base.html' %}

{% block page_title %}404{% endblock %}

{% block page_class %} page_empty{% endblock %}

{% block content %}
    <div class="empty">
        <div class="emptyClouds"></div>
        <div class="empty__cntn">
            <div class="empty__title">404</div>
            <p class="text-center">
                Кажется, вы немного заблудились.
                <br>
                <a href="/">Вернуться в поселок</a>
            </p>
        </div>

    </div>
{% endblock %}

