.page_fence
    background #469a09 url("/static/img/bgs/fence.jpg") no-repeat center center

.fence
    position relative
    flex 1 1 auto
    height 100% 
    
    &__cntn
        position absolute
        width 100%
        top 50%
        left 0
        margin-top -280px 
        height 590px
