.page_table
    background #8af3ff url("/static/img/bgs/table.jpg") no-repeat center bottom -170px

.tableBg
    position relative
    flex 1 1 auto
    height 100% 
    
    &__cntn
        position absolute
        left 50%
        top 50%
        margin -316px 0 0 -441px
        size(883px, 632px)
        padding 0 15px 0 34px
        background url("/static/img/bgs/table_cntn.png") no-repeat center center
        display flex
        flex-direction column
    


// @media (max-height: 910px)

//     .page_table
//         background-position center bottom -170px