@font-face {
  font-family: 'PTRoubleSans';
  src: url('../fnt/PTRoubleSans/PTRoubleSans.eot');
  src: url('../fnt/PTRoubleSans/PTRoubleSans.woff2') format('woff2'),
       url('../fnt/PTRoubleSans/PTRoubleSans.woff') format('woff'),
       url('../fnt/PTRoubleSans/PTRoubleSans.ttf') format('truetype'),
       url('../fnt/PTRoubleSans/PTRoubleSans.svg#PTRoubleSans') format('svg'),
       url('../fnt/PTRoubleSans/PTRoubleSans.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'rouble';
//   src: url('../fnt/rouble-webfont.eot');
//   src: url('../fnt/rouble-webfont.woff2') format('woff2'),
//        url('../fnt/rouble-webfont.woff') format('woff'),
//        url('../fnt/rouble-webfont.ttf') format('truetype'),
//        url('../fnt/rouble-webfont.svg#PTRoubleSans') format('svg'),
//        url('../fnt/rouble-webfont.eot?#iefix') format('embedded-opentype');
//   font-weight: normal;
//   font-style: normal;
// }

.rubl
    font-weight normal
    font-style normal
    font-family 'PTRoubleSans'

    &:after
        content "%"