$baseFont = 'Verdana', 'Arial', sans-serif
$baseFontSize = 13px
$baseLineHeight = 1.53

// main
$cText = #000
$cRed = #903334
$cRedD = #842223





$cGray = #B3B3B3
$cBlue = #4CA3FF
$cGreen = #35C16C
$cGreenD = #1FA554
$cMain = #ffa300
$cMain_d = #be531c
$cMainHover = $cMain_d

$cBody = #F9F9F9

// link
$cLink = $cRed
$cLinkHover = $cMain_d



$lg = '(min-width: 1621px)'
$md = '(max-width: 1620px)'
$sm = '(max-width: 1260px)'



$bglg = '(max-height: 930px)'
$bgsm = '(max-height: 740px)'