@import 'base/variables'
@import 'base/mixins'
@import 'base/fonts'
@import 'base/reset'
@import 'base/base'
@import 'base/pages_bg'
@import 'pages_bg/*.styl'
@import 'base/typography'


// UI
@import 'ui/btn/btn';
@import 'ui/input/input';
@import 'ui/form/form';
@import 'ui/cbx/cbx';
@import 'ui/form/formLogin';
@import 'ui/vendor/fancybox/jquery.fancybox';
@import 'ui/vendor/custom-scrollbar';
@import 'ui/vendor/tooltipster';

// @import 'ui/elements/*';

// blocks
@import 'blocks/header/header';
@import 'blocks/index/indexText';
@import 'blocks/footer/footer';
@import 'blocks/snetworks/snetworks';
@import 'blocks/gallery/gallery';
@import 'blocks/about/about';
@import 'blocks/articles/articles';
@import 'blocks/village/village';
@import 'blocks/textBlock/textBlock';
@import 'blocks/contacts/contacts';
@import 'blocks/landText/landText';
@import 'blocks/userMenu/userMenu';
@import 'blocks/loader/loader';
@import 'blocks/reservation/reservation';
@import 'blocks/popup/*.styl';
@import 'blocks/plan/*.styl';
@import 'blocks/gif/*.styl';
@import 'blocks/empty/*.styl';
@import 'blocks/msgs/*.styl';


//pages 
//@import 'pages/pageFront';