.village
    display flex

    &__cntn
        flex 1 1 auto
        width 100%
        display flex
        height 100%
        padding-bottom 40px
        padding-right 43px 
        flex-direction column
        
    &__aside
        position relative
        z-index 3 
        width 290px
        padding-left 40px
        flex 0 0 auto
        text-align center
        
    &__text
        flex 1 1 auto
        height 100%
        
    &__head
        margin-bottom 25px
        
    &__map
        margin-bottom 43px
        font-size 0
        line-height 0
        width 265px 
        border 6px solid #fff
        box-shadow 0 6px 0 rgba(#af9975, .25)



.villageInfo
    margin-top 28px
    flex 0 0 auto
    display flex
    justify-content space-around 
    
    &__item
        text-align center
        white-space nowrap
        font-size 11px 
        line-height 1.2 
        color #575454

    &__icon
        margin-bottom 7px
        display inline-block
        size(60px, 40px)
        bg("village_icon_1.png")
        
     &__icon._2
         background-image inline('village_icon_2.png') 
        
     &__icon._3
         background-image inline('village_icon_3.png') 
        
     &__icon._4
         background-image inline('village_icon_4.png') 
        
     &__icon._5
         background-image inline('village_icon_5.png') 
        
     &__icon._6
         background-image inline('village_icon_6.png') 
        
     &__icon._7
         background-image inline('village_icon_7.png') 
        
     &__icon._8
         background-image inline('village_icon_8.png') 
         



.villageAdv
    margin 26px 0 18px
    font-size 11px 
    line-height 16px
    display flex
    justify-content space-between 
    
    &__icon
        margin-bottom 11px
    &__icon._1
        size(49px, 50px)
        bg("villageAdv_1.png")
    
    &__icon._2
        size(50px, 50px)
        bg("villageAdv_2.png")
    
    &__icon._3
        size(42px, 50px)
        bg("villageAdv_3.png")