.hint 
    display inline-block 
    position relative
    vertical-align top 
    height 16px
    margin-top 3px 
    
    svg
        display block 

    &:after
        content ''
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        display block   