.radio
    position absolute
    left -99999px
    
    &:checked
        & + .radioLbl
            &:before
                border-width 6px 

.radioLbl
    overflow hidden
    
    &:before 
        content "" 
        display block 
        float left
        box-sizing border-box  
        width 18px
        height 18px
        border 1px solid $cBlue 
        float left  
        border-radius 50% 
        cursor pointer
        margin-right 10px 
        
.radioText
    overflow hidden
    line-height 18px  
    display inline-block 