.formLogin
    padding-bottom 0
    padding-left 37px
    padding-right 37px

    &__reset
        border-top 1px solid #eeece8 
        margin 28px -37px 0
        
    &__resetLink
        display block
        text-align center
        color $cRed
        text-decoration none
        font-size 11px 
        line-height 45px
        padding-bottom 2px 
        
        &:hover
            color #575454
            
    &__footer
        display flex
        align-items center
        
        .cbxField
            margin 0
        
    &__footerLeft
        position relative
        top 1px 
        flex 1 1 auto
        width 100%
    
    &__footerRight
        flex 0 0 auto