.userMenu
    padding-top 11px 

    &__link
        display block
        font-size 13px
        line-height 18px  
        font-weight normal 
        text-decoration none
        padding 5px 23px 
        
        &:hover
            color $cText
        
    &__counter
        position relative
        top -1px 
        display inline-block
        vertical-align middle
        height 18px
        margin-left 4px
        border-radius 9px 
        padding 0 6px 
        background-color #469A09 
        color #fff
        font-size 11px 
        
    &__logout
        border-top 1px solid #eeece8
        padding 7px 0 11px