.reservation
    padding 80px 0 30px
    display flex
    
    &__left
    &__right
        flex 1 1 auto
        width 100%
        padding 160px 0 80px 
        
    &__left
        text-align left

    &__right
        text-align right

    &__cntn
        flex 0 0 auto
        width 446px
        
        .contactsMail__envelopeBot
            filter none



    &__other1
    &__other2
        display inline-block
        position relative
        font-size 0
        line-height 0 
        text-align left

        
    &__other1
        width 97px
        margin-left 70px
        
        a
            display block
            text-decoration none !important
            colot inherit !important
        
        .planFlag
            position absolute
            left 52px 
            top 34px 
            

    &__other2
        width 193px
        margin-right 112px 
        
        a
            display block
            text-decoration none !important
            colot inherit !important
        
        .planFlag
            position absolute
            left 87px 
            top 25px 