.textBlock
    background-color #FFF
    flex-direction column
    color #575454
    display flex
    height 100%
    flex 1 1 auto
    box-shadow 0 12px 0 rgba(#af9975, .2) 
    
    .scroll-bar.vertical
        right 22px
    
    &__scroll
        padding 30px 0
        flex 1 1 auto

        ol:last-child
        ul:last-child
        p:last-child
            margin-bottom 0
            
    &__cntn
        padding 2px 50px 2px 40px
            

    h1
        font-size 18px 
        color $cRed
        font-weight 700  
        
    h2
        font-size 16px 
        color $cRed
        font-weight 700  
        
    h3
        font-size 14px 
        color $cRed
        font-weight 700  
        
    h4, h5, h6
        font-size 13px 
        color inherit
        font-weight 700  