.articles
    display flex
    flex 1 1 auto
    height 100%
    width 100%
    padding 50px 38px 35px
    flex-direction column
    
    &__head
        flex 0 0 auto
        
    &__headNews
        position relative
        overflow hidden
        flex 0 0 auto
        height 35px
        margin-bottom 30px
        
        &:before
            position absolute
            left 0
            top 14px 
            border-top 2px solid #999999  
            border-bottom 2px solid #999999  
            height 7px
            width 100%
            display block
            content "" 
            opacity .3
            box-sizing border-box 
        
        &:after
            position absolute
            top 0
            left 50%
            margin-left -103px 
            height 35px
            width 206px
            background-color #F9F2F0 
            content "" 
            display block
            
        
    &__headNewsTitle
        position absolute
        top 0
        left 50%
        z-index 3 
        display block
        margin-left -87px
        overflow hidden
        text-indent -9000px
        size(174px, 35px)
        bg("news_title.png")

    &__headArticles
        position relative
        overflow hidden
        flex 0 0 auto
        height 35px
        padding 0 30px 
        margin-bottom 30px
        
    &__headArticlesTitle
        position relative
        text-indent -9000px 
        size(165px, 35px)
        bg("articles_title.png")
        
    &__footer
        flex 0 0 auto
        margin-top 18px 
        font-size 12px 
        padding 0 30px 
        
        a
            color $cRed
            text-decoration none
            
            &:hover
                text-decoration underline
        

.articlesList
    position relative
    overflow hidden
    height 100%
    width 100%
    padding 0 11px 
    flex 1 1 auto
    font-size 0
    line-height 0 
    
    &:after
        position absolute
        left 0
        right 20px
        bottom 0
        overflow hidden
        height 40px
        background linear-gradient(to bottom, rgba(249,242,240,0) 0%,rgba(249,242,240,1) 100%)
        content "" 
        display block
    
    .scroll-bar.vertical
        right 0
        
    &__wrap
        padding-bottom 5px
    
    &__item
        display inline-block
        vertical-align top
        margin-bottom 27px
        width 33.333% 
        padding 0 20px 
        font-size $baseFontSize 
        line-height 1.2 
    
    &__img
        display block
        font-size 0
        line-height 0
        width 100%
        height 140px
        margin-bottom 20px
        background-size cover
        background-position center center
        
    &__title
        display block
        margin-bottom 5px
        font-size 13px  
        line-height 17px
        color #575454
        text-decoration none !important
        font-weight 700  
        transition color .3s
        text-transform uppercase
        
        &:hover
            color #2e2e2e
            
    &__date
        margin-bottom 13px
        font-size 11px 
        color #989898
        
    &__text
        position relative
        overflow hidden
        max-height 48px
        font-size 12px 
        line-height 16px 
        color #575454
        
        p
            margin 0 !important
            padding 0 !important
            line-height inherit !important
            font-size inherit !important   
    
        &:after
            position absolute
            right 0
            top 32px
            z-index 2  
            overflow hidden
            height 16px
            width 120px 
            border-right 10px solid rgba(249,242,240,1)
            background linear-gradient(to right, rgba(249,242,240,0) 0%,rgba(249,242,240,1) 100%); 
            content "" 
            display block
            


.articlesDetail
    position relative
    overflow hidden
    flex 1 1 auto
    height 100%
    color #575454
    padding 0 30px 

    .scroll-bar.vertical
        right 0

    h1
        font-size 13px 
        font-weight 700  
        
    h2
        font-size 13px 
        font-weight normal  
        
    h3
        font-size 13px 
        font-weight normal  
        
    h4, h5, h6
        font-size 13px 
        font-weight normal  
        

    h1:first-child
        text-transform uppercase
        

    &__date
        margin-top 5px
        font-size 11px 
        color #989898
        
    &__head
        margin-bottom 20px
        
        h1
            margin 0 !important 
        
    &__pic
        position relative
        top 3px 
        margin 0 26px 5px 0 
        float left
        width 333px 