.snetworks
    display flex

    &__link
        margin-right 18px
        size(16px)
        display block
        background-position center center
        background-repeat no-repeat 
        background-size contain
        
        &:last-child
            margin-right 0
        
        &._gplus
            background-image inline('snetworks_gplus.png') 
        
        &._fb
            background-image inline('snetworks_fb.png') 
        
        &._vk
            background-image inline('snetworks_vk.png') 
        
        &._tw
            background-image inline('snetworks_tw.png') 