.inp
    box-sizing border-box
    background transparent
    // background #000 
    box-shadow none
    outline none 
    width 100%
    height 30px  
    display block 
    padding 6px 9px
    font-size 13px
    line-height 16px 
    border 1px solid #d3cec5
    border-radius 0px
    -webkit-appearance none
    transition background-color .3s, border .3s
    color #575454

    &:focus
        border-color #53a618

    &::placeholder
        opacity 1
        color #948f85  
        

    .error &
        border-color #903334
        background-color #f5e9e9 

textarea 
    box-sizing border-box
    background transparent 
    border 1px solid #d3cec5
    box-shadow none
    border-radius 0px
    outline none 
    width 100%
    height 95px  
    display block 
    padding 6px 9px
    font-size 13px
    line-height 16px 
    color #575454
    -webkit-appearance none
    resize none
    transition background-color .3s, border .3s
           
    &::placeholder
        opacity 1
        color #e8e6e6

    &:focus
        border-color #53a618
    .error &
        border-color #903334
        background-color #f5e9e9 
        
